name: Run integration tests on PR

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  gradle:
    strategy:
      matrix:
        # TODO: make matrix work after
        #os: [ ubuntu-latest, macos-latest, windows-latest ]
        os: [ ubuntu-latest ]
        #java: [ '11', '17' ]
        java: [ '11' ]
    runs-on: ${{ matrix.os }}
    name: Build with ${{ matrix.Java }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'liberica'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Execute Gradle build
        run: ./gradlew --stacktrace --info check

      - name: Build  jar for publishing
        run: ./gradlew clean -xtest assemble publishToMavenLocal

#      - name: Publish Test Results
#        uses: EnricoMi/publish-unit-test-result-action@v1
#        if: always()
#        with:
#          files: build/test-results/**/*.xml